
#driversSummary  {
  height: 110px;
  background-color: #fcd14e;
  text-align: center;
  display: flex;
  font-family: Simpson;
  border: 3px black solid;
}

div {
  height: auto;
  padding: 5px;
}

body {
  margin: 0;
}

p {
height: 0;
}
